---
layout: default
---

<div class="home">

  <div class="site-title">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.subtitle }}</h2>
  </div>
  <div class="hello">
    {{ site.hello }}<br>
    <hr style="height:15pt; visibility:hidden;" />
    {{ site.more }}
  </div>

  <div class="projects-title">
    <h2>Recent Work</h2>
  </div>

  {% assign projects = site.projects | sort: 'order' %}
  {% for project in projects %}
  <a class="project-link" href="{{ project.url | prepend: site.baseurl }}">
    <div class="project-image" style="background-color:{{project.color}}" >
      <img src="{{  project.imageurl }}"/>
      <div class="overlay"></div>
      <div class="project-text">
        <h3>{{  project.title }}</h3>
        <div class="not-on-mobile">{{  project.abstract }}</div>
      </div>
    </div>
  </a>
  {% endfor %}

  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
