---
layout: default
---

<div class="home">

  <div class="hello">
    <h2 class="text">{{ site.hello }}</h2>
    <h3>{{ site.more }}</h3>
  </div>

  {% for project in site.projects | sort: 'order' %}
  <a class="project-link" href="{{ project.url | prepend: site.baseurl }}">
    <div class="project-image" style="background-color:{{project.color}}" >
      <img src="{{  project.imageurl }}"/>
      <div class="project-text">
        <div class="not-on-mobile"><h3>{{  project.title }}</h3></div>
        <div class="not-on-mobile">{{  project.abstract }}</div>
      </div>
      <div class="only-on-mobile">{{  project.title }}</div>
    </div>
  </a>
  {% endfor %}

  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
