@font-face {
	font-family: "Roboto Regular";
	src: local("Roboto Regular"),
	local("Roboto-Regular"),
	url(../assets/Roboto-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: "Roboto Bold";
	src: local("Roboto Bold"),
	local("Roboto-Bold"),
	url(../assets/Roboto-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "Roboto Medium";
	src: local("Roboto Medium"),
	local("Roboto-Medium"),
	url(../assets/Roboto-Medium.ttf);
	font-weight: normal;
}
